<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>When Thesis Is Over | By Tina Ye &mdash; Allison Shaw</title>
<link rel="stylesheet" type="text/css" media="all" href="/static/css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/css/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css" />
</head>

<body>
<div class="container_12">
	<div class="grid_12">
	<div class="form">
		<h2>Hey SVA IxD class of 2013, </h2> 
		<h1>submit your own:</h1>
		<form action="/postNewIdea" method="POST">

			<p>
			<label for="name">Name:</label>
			<input type="text" name="name" id="name" />
			</p>

			<p>
			<label for="email">Email:</label>
			<input type="text" name="email"  id="email" />
			</p>

			<p>
			<label for="idea">When thesis is over, I will</label>
			<textarea name="idea" id="idea" placeholder="ex: do hoodrat shit with my friends all day."></textarea>
			</p>

			<p>
			<input type="submit" value="Submit" name="submit">
			</p>

		</form>
	</div>
	</div>
</div>

</body>
</html>